body {
 background-image: url(https://images7.alphacoders.com/662/662102.png);
 background-size: cover; 
 margin: 0;
 padding: 0;
 height: 100%;
position: relative;
min-height: 100%;

}
header {
    background-color: black;
    opacity: 0.9;
    display: flex;
    justify-content: flex-end;
}

.icons > img {
    margin: 10px 10px 5px 10px;
    opacity: 0.5;
    
}
.icons > img:hover {
opacity: 1;
cursor: pointer;
}

#main_section {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}

#pokemon_logo {
    margin: 10px;
    transition: all 2s;

}

#pokemon_logo:hover {
    
    transform: rotate(90deg) scale(0.2);
   
}

.pokemon_galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
    
}

.pokemon_galery > img {
    margin: 10px;
    transition: all 0.5s;
}

.pokemon_galery > img:hover {
    transform: scale(1.2);
}

footer {
    background-color: red;
    text-align: center;
    position: fixed;
   bottom: 0;
   width: 100%;
   padding: 1rem;
   text-align: center;
   opacity: 0.9;
   color:white;
    
}