body{
    background: #F9F09F;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
}

.content-holder{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    
}


.fotka{
    margin-top: 0.5em;
    margin-left: 20px;
    margin-right: 20px;
    float: right;
}

.up{
 height: 600px;
 width: auto;
}

.land{

   width: 600px;
   height: auto;
}


h1{
    font-family: 'Oregano', cursive;
    text-align: center;
    font-size: 6rem;
    color: #EC7980;
    margin-top: 0.3em;
    padding-top: 1rem;
    line-height: 1em;
    
}

.date{
    cursor: default;
    font-family: 'Oregano', cursive;
    margin-top: -2rem;
    font-size: 2.5rem;
    color: #EC7980;
    display: block;
    text-align: center;
    font-style: italic;
    word-spacing: 0.3rem;
    
}

hr{
    border: 3px solid #EC7980;
}

a{
    color: black;
}

p{
    line-height: 2rem;
    margin: 2rem;
    word-spacing: 0.03rem;
    text-indent: 0.7rem;

}

span{
    font-weight: bold;
    z-index: 2;
}

.info{
    cursor: help;
}

.pepa {
    /* text-indent: -55px; */
    font-size: 1.1em;
    margin-left: 4rem;
    border-left: solid #EC7980 1em;
    padding-left: 3em;
    font-style: italic;
    
}


.word-tip{
    line-height: normal;
    cursor: default;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    position: absolute;
    left: 167px;
    /* top: 20px; */
    background-color: #EC7980;
    padding-left: 30px;
    padding-right: 30px;
}

/* JAPNA LANGUAGE */
.slovicka{
    margin-left: 4rem;
    border-left: solid #EC7980 0.4em;

}

.slovicka ul{
    list-style: none;
}

.emo-icon{
    font-size: 2em;
    position: relative;
    top: 0.5rem;
    cursor: default;
}

ul li span:nth-child(3){
    cursor: pointer;
}

.jap-word{
    font-size: 1.2em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-transform: uppercase;
    color: black;
    cursor: default;
}
/* --------------------------------------------------------------------------------------------- */

.video{
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.video span{
    
    margin-bottom: 2em;
    color: black;
}

iframe{
    border-top: solid #EC7980 0.4em;
}


.pop{

   
    /* font-weight: bold; */
    color: black;
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    position: absolute;
    background-color: #EC7980;
    /* left: -150px; */
    border-radius: 20%;
    /* opacity: 0.9; */
    margin-top: 6px;

    padding: 1rem;

    
}

.pop img{
    width: 80%;
    height: auto;
}


.pop:after, .pop:before {
	bottom: 100%;
	left: 51%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
    pointer-events: none;
    border-bottom-color: #EC7980;
}

.pop:after {
    
	border-width: 18px;
	margin-left: -18px;
}
.pop:before {

	border-bottom: none;
	border-width: 16px;
	margin-left: -16px;
}

#arrow-back{
    position: absolute;
    top: 80px; 
    left: 20px;
    transform: rotate(-90deg);
    cursor: pointer;
}



#arrow-to-top{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    position: fixed;
    bottom: 24px;
    right: -24px;

    transition: 1s;
    
}

#arrow-to-top.hidden{
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}


.czk-pop{
    justify-content: center;
    font-size: 1.4em;
    background-color: #4C7ABB;
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-bottom: 0.2em;
    border-radius: 20px;
}

.czk-pop:after, .czk-pop:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
    pointer-events: none;
    border-bottom-color: #4C7ABB;
    z-index: 1;
    
}

.czk-pop:after {
	/* border-color: rgba(136, 183, 213, 0);
	border-bottom-color: teal; */
	border-width: 8px;
    margin-left: -8px;
    z-index: 1;
    
}
.czk-pop:before {
	/* border-color: rgba(194, 225, 245, 0);
	border-bottom-color: teal; */
	border-width: 14px;
    margin-left: -14px;
    z-index: 1;
    
}